{% extends 'layout.jinja2' %}

{% block styles %}
    <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/forms.css') }}"
            type="text/css"
    />
{% endblock %}

{% block content %}
    <div class="form-wrapper">
      <h2 class="title">Ad Creator</h2>
      <form method="POST" action="{{ url_for('createad') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}

       <fieldset class="form-field">{{ form.country.label }} {{ form.country }}
          {% if form.country.errors %}
            <ul class="errors">
              {% for error in form.country.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

       <p class="description">Hold Ctrl (Windows) or Cmd (Mac) for multiple selections</p>
       <p class="description">tip: You can hold down command (or Ctrl) to select all cities, then deselect the ones you don't want to target.</p>
       <fieldset class="form-field">{{ form.city.label }} {{ form.city }}
          {% if form.country.errors %}
            <ul class="errors">
              {% for error in form.country.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">{{ form.language.label }} {{ form.language }}
          {% if form.language.errors %}
            <ul class="errors">
              {% for error in form.language.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        
        <p class="description">Max 25 characters. You can include emojis too!</p>
        <fieldset class="form-field">{{ form.adtitle.label }} {{ form.adtitle(size=25) }}
          {% if form.adtitle.errors %}
            <ul class="errors">
                {% for error in form.adtitle.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
        </fieldset>

        <p class="description">Main text of the ad, max 125 characters. You can include emojis too!</p>
        <fieldset class="form-field">{{ form.adcopy.label }} {{ form.adcopy(size=125) }}
          {% if form.adcopy.errors %}
            <ul class="errors">
                {% for error in form.adcopy.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
        </fieldset>

        <p class="description">Will be shown in each user's local language</p>
        <fieldset class="form-field">{{ form.calltoaction.label }} {{ form.calltoaction }}
          {% if form.calltoaction.errors %}
            <ul class="errors">
              {% for error in form.calltoaction.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <fieldset class="form-field">{{ form.startdate.label }} {{ form.startdate }}
            {% if form.startdate.errors %}
              <ul class="errors">
                {% for error in form.startdate.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

        <fieldset class="form-field">{{ form.enddate.label }} {{ form.enddate }}
          {% if form.enddate.errors %}
            <ul class="errors">
              {% for error in form.enddate.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <p class="description">If the ad mentions any kind of offer, choose incentive. Local-partnership = partnership without any offer. Local-restaurant = restaurant promotion. Loca-retail = other venue promotion. For all others choose just local.</p>
        <fieldset class="form-field">{{ form.creativetype.label }} {{ form.creativetype }}
          {% if form.creativetype.errors %}
            <ul class="errors">
              {% for error in form.creativetype.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>

        <p class="description">Restaurant name, partner name, free delivery, name of the launched city or similar identifier (for example "kfc" or "freedelivery"). DO NOT use spaces or underscores, write everything as one word.</p>
        <fieldset class="form-field">{{ form.creativeconcept.label }} {{ form.creativeconcept(size=50) }}
          {% if form.creativeconcept.errors %}
            <ul class="errors">
                {% for error in form.creativeconcept.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
        </fieldset>

        <p class="description">Further identifier for this specific image/video/ad, for example number or variation - or you can leave this empty. DO NOT use spaces or underscores, write everything as one word/number.</p>
        <fieldset class="form-field">{{ form.adname.label }} {{ form.adname(size=50) }}
          {% if form.adname.errors %}
            <ul class="errors">
                {% for error in form.adname.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
          {% endif %}
        </fieldset>

         <fieldset class="form-field">{{ form.objective.label }} {{ form.objective }}
          {% if form.objective.errors %}
            <ul class="errors">
              {% for error in form.objective.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        
        <p class="description">Link for redirection on the ad. Can be a deeplink or a regular link. 
        Default value is : "https://wolt.onelink.me/Uy67/137fe79b"
        Leave the link as is you do not need this, otherwise change with your own link.</p>
        <fieldset class="form-field">{{ form.link.label }} {{ form.link }}
          {% if form.link.errors %}
            <ul class="errors">
              {% for error in form.link.errors %}
                <li class="error">
                    <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </fieldset>
        
        <p class="description">You can upload multiple files at once. Accepted format: jpg, png, svg, mp4</p>
        <fieldset class="form-field">{{ form.attachments.label }} {{ form.attachments }}
            {% if form.attachments.errors %}
              <ul class="errors">
                {% for error in form.attachments.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
        </fieldset>

        {{ form.submit }}
        {{ form.hidden_tag() }}
        
        {% if form.errors %}
          {{ form.errors }}
        {% endif %}
      </form>
    </div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" >
      $(function() {

			  $("#country").change(function() {
			    $.getJSON('/getcities?countryId=' + $("#country").val(), function(data) {
            updateCities(data.result);
			    });
			  });

        // updates with citylist + 'all' option on top as text
        function updateCities(cityList) {
          $('#city').empty();
          // console.log(cityList);
          cityList.forEach(function(cityItem) {
              $('#city').append(
                  $('<option>', {
                      value: cityItem,
                      text: cityItem
                  })
              );
          });
        }
      });
    </script>
{% endblock %}